{% extends "layout.html" %}

{% block links %}
<a class="rbtn" href="/rules">Rules</a>
{% endblock %}

{% block body %}
<div id="image-container" style="text-align: center;">
    <img style="max-width: 100%;" src="https://yt3.ggpht.com/ytc/AAUvwni_P5aoUjAt_gLyJ69DAXbvWe_y4MuLlyIHeixoNQ=s176-c-k-c0x00ffffff-no-rj">
</div>
<center>
<a href="/login"><button style="width:40%;">Login</button></a>
<a href="/register"><button style="width:40%;">Register</button></a>
</center>
{% endblock %}
