{% extends "layout.html" %}

{% block links %}
<a class="rbtn" href="/">Game</a>
<a class="rbtn" href="/rules">Rules</a>
{% endblock %}

{% block body %}
<h2>Leaderboard</h2>
<br>
<br>
<table style="width:100%">
    <tr>
      <th style="text-align: left;">Username</th>
      <th style="text-align: left;">Score</th> 
    </tr>
    {% for item in values %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.score}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
