{% extends "layout.html" %}

{% block links %}
<a class="rbtn" href="/register">Register</a>
{% endblock %}

{% block body %}
<form action="#" method="POST" id="answer-container">
    <h2 id="question" style="padding-left: 10px;">Roll Number:</h2>
    <Input type="text" name="rn" id="Name" style="width: 96%;"  style="text-align: center;">
    <h2 id="question" style="padding-left: 10px;">Password:</h2>
    <Input type="password" name="pwd" id="Key" style="width: 96%;"  style="text-align: center;">
    <p><button><Input type="submit" value="Submit" style="border-bottom: 0px;"></button></p>
</form>
{% endblock %}