{% extends "layout.html" %}

{% block links %}
<a class="rbtn" href="/">Game</a>
<a class="rbtn" href="/Leaderboard">Leaderboard</a>
{% endblock %}

{% block body %}

            
<ul>
<h3>General Rules</h3>
<li>You will be directed to the next question when you type the correct answer to the current question.</li>
<li>Each question has the same weightage and if two people have the same number of questions answered then time will be used as the differentiating factor.</li>
<li>Use your real name as your in game name and enter your correct roll number(including the first character; eg B19069, D18002, etc.)</li>
<li>Anyone not following the registration rules may get randomly disqualified.</li>
</ul>
<h3>Rules related to answering the questions</h3>
<ul>
<li>One person can play on only one account. With no negative marking whatsoever, there is no reason to make multiple accounts as it is.</li>
<li>CAPS and SPACES are not allowed. Eg: If your answer is "Shreyas Bapat", enter "shreyasbapat" to proceed to the next level. The answers also do not have special characters such as !, " etc. but 0,1,2,....,9 are exceptions.</li>
<li>Beware of spelling errors in your answers. Enigma can't auto correct your spellings! </li>
</ul>


{% endblock %}